<br>
<br>
<center>
<h3>Contactez nous :</h3>
<br>
<div class="card" style="width: 18rem; margin-right: 10px ">
  <div class="card-header">
    Nazanin Farshad
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">06 14 96 16 80</li>
    <li class="list-group-item">naezaninf24@gmail.com</li>
  </ul>
</div>

<div class="card" style="width: 18rem;margin-left: 10px;">
  <div class="card-header">
    Arnaud 
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">06 73 75 50 01</li>
    <li class="list-group-item">arnaud@gmail.com</li>
  </ul>
</div>
</center>